.container {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

#bg { 
    border-radius: 25px;
    border: 2px solid;
    width: 500px;
    height: 200px;
    background-color: rgba(55, 55, 55, 180);
}

#text, #status, #time {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 10px;
    font-size: 22px;

    color: rgb(255, 255, 255);
}

#status {
    font-size: 20px;
    top: 20%;
    transform: translate(-50%, -20%);
}

#time {
    font-size: 18px;
    top: 38%;
    transform: translate(-50%, -38%);
}

#button-stop, #button-start, #button-reset {
    position: absolute;
    left: 50%;
    top: 75%;
    border-radius: 25px;
    border: 2px solid;
    width: 125px;
    height: 45px;
    transform: translate(-50%, -75%);
    transition: 0.3s;
}

#button-start {
    position: absolute;
    top: 75%;
    left: 15%;
    transform: translate(-15%, -75%);
}

#button-reset {
    position: absolute;
    top: 75%;
    left: 85%;
    transform: translate(-85%, -75%);
}

#button-start:hover {
    background-color: rgb(87, 155, 87, 255);
    color: white;
}

#button-stop:hover {
    background-color: rgb(155, 87, 87, 255);
    color: white;
}

#button-reset:hover {
    background-color: rgb(87, 87, 155, 255);
    color: white;
}